body {
  font-family: Arial, sans-serif;
  background-color: #e5e7eb;
  color: #1f2937;
  margin: 0;
  padding: 20px 50px;
}

header {
  background-color: #add0e4;
  height: 200px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 30px;
  border-radius: 20px 20px 0 0;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 10px solid white;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.banner {
  padding: 20px;
  background-color: white;
  border-radius: 0 0 20px 20px;
}

.banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.about {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.about .title {
  display: flex;
  flex-direction: column;
}

.about img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
}

.about h2 {
  margin: 0 0 10px 5px;
}

.about .content {
  background-color: #add0e4;
  padding: 15px;
  border-radius: 15px;
}

.hobbies {
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hobbies .image {
  display: flex;
}

.hobbies .hob {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hobbies img {
  width: 300px;
  height: 250px;
  border-radius: 15px;
  margin-right: 30px;
}

.travel {
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.travel table {
  width: 100%;
}

.travel caption {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.travel td {
  width: 50%;
  padding: 5px 10px;
  text-align: center;
}

.travel img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}



footer {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: white;
  background-color: #7196c6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}


